<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

<Properties>
  <Property name="dbName">database</Property>
  <Property name="usrName">user</Property>
  <Property name="sprName">spring</Property>
  <Property name="path">logs</Property>
  <Property name="pattern">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
</Properties>

<Appenders>
	
	<Console name="console" target="SYSTEM_OUT">
   		<PatternLayout pattern="${pattern}" />
  	</Console>

	<RollingFile name="dbfile" fileName="/${path}/${dbName}.log" filePattern="/${path}/${dbName}_%d{yyyy-MM-dd}_%i.log">
		<PatternLayout pattern="${pattern}" />
		<Policies>
			<TimeBasedTriggeringPolicy modulate="true" interval="1" /><!-- 일별 로그 파일 생성-->
			<SizeBasedTriggeringPolicy size="10MB" />
		</Policies>
		<DefaultRolloverStrategy max="365" fileIndex="min" />
	</RollingFile>
	
	<RollingFile name="usrfile" fileName="/${path}/${usrName}.log" filePattern="/${path}/${logName}_%d{yyyy-MM-dd}_%i.log">
		<PatternLayout pattern="${pattern}" />
		<Policies>
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</Policies>
		<DefaultRolloverStrategy max="365" fileIndex="min" />
	</RollingFile>
	
	<RollingFile name="springfile" fileName="/${path}/${sprName}.log" filePattern="/${path}/${sprName}_%d{yyyy-MM-dd}_%i.log">
		<PatternLayout pattern="${pattern}" />
		<Policies>
			<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</Policies>
		<DefaultRolloverStrategy max="365" fileIndex="min" />
	</RollingFile>

</Appenders>

<Loggers>
	<Root level="DEBUG" additivity="false" >
		<AppenderRef ref="dbfile" />
		<AppenderRef ref="usrfile" />
		<AppenderRef ref="springfile" />
	</Root>
	
	<logger name="org.springframework" level="INFO" additivity="false" >
		<AppenderRef ref="springfile" />
	</logger>
	
	<Logger name="jdbc.sqltiming" level="TRACE" additivity="false">
    	<AppenderRef ref="dbfile" />
	</Logger>
	
	<Logger name="log.UserLog" level="TRACE" additivity="false">
		<AppenderRef ref="usrfile" />
	</Logger>
	
	<Logger name="aop.FlowLogger" level="TRACE" additivity="false">
		<AppenderRef ref="console" />
	</Logger>
	
</Loggers>

</Configuration>